@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-5 offset-md-5">
        <user-picture picture-url="@Model.PictureUrl" class="rounded" style="width:120px"></user-picture>
</div>

</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Welcome @User.Identity!.Name !</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


